.faq {
  background-color: $bg-secondary;
  margin-top: -4px;
}

.faq__question {

  padding: 15px 58px 14px 15px;
  font-size: 22px;
  line-height: 1.27;
  color: #ffffff;
  background-color: $bg-secondary;
  position: relative;
  cursor: pointer;

  &--second {
    border-top: 1px solid #405265;
  }

  &:hover,
  &:focus {
    background-color: $bg-hover;
    outline: none;
  }
}

.faq__arrow {
  position: absolute;
  right: 15px;
}

.faq__question--open > .faq__arrow,
.faq__question--open > .faq__arrow {
  transform: rotate(180deg);
}

.faq__question + .faq__answer {
  display: none;
}

.faq__question--open + .faq__answer {
  @include width-block(344px);
  display: block;
  padding: 15px 0 29px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  border-top: 1px solid #405265;
}

.faq__answer-text p {
  margin: 0 0 12px 0;
}

.faq__answer-text a {
  color: #5a88c1;
  text-decoration: none;
}

.faq__answer-img-wrapper {
  width: 250px;
  margin: 18px auto 0;
}

@media (min-width: $desktop-width) {
  .faq__question {
    padding: 35px 45px;
  }

  .faq__arrow {
    right: 45px;
  }

  .faq__question--open + .faq__answer {
    display: grid;
    grid-template-columns: 2.8fr 5.2fr 4fr;
    grid-template-areas: 
      "text text img"
      "form . img";
    width: 1210px;
    padding: 29px 0;
  }

  .faq__answer-text {
    grid-area: text;
    width: 694px;
    margin: 0;
  }
    
  
  .faq__answer-img-wrapper {
    grid-area: img;
    width: 250px;
    height: 250px;
    margin-top: 0;
  }
}